@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cafdff;
    padding: 0 16px;
}

ul {
    display: flex;
    margin-right: 20px;
}

li {
    margin-left: 10px;
    font-size: 24px;
    list-style: none;
    font-weight: bold;
}

a {
    color: black;
}

.logo {
    width: 300px;
    margin: 20px;
}

/*

HEADER

*/

header {
    background-color: #eadcff;
    height: calc(100vh - 70px);
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

h1 {
    font-size: 72px;
}

.subheader {
    font-size: 36px;
    margin: 16px 0 24px 0;
}

button {
    background-color: #05c7cf;
    color: white;
    padding: 8px 16px;
    font-size: 24px;
    cursor: pointer;
}

img {
    width: 100%;
}

/*

HEADER

*/

#about {
    background-color: #f8ffdc;
    padding: 48px 0;
}

h2 {
    font-size: 56px;
    text-align: center;
    margin-bottom: 16px;
}

.section__description {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__description--wrapper {
    width: 60%;
    padding: 0 24px;
}

.about__img--wrapper {
    width: 40%;
    padding: 0 24px;
}

.section__description--para {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 24px;
}















